body {
    background-color: #FFFFFF;
}

th {
    border: 2px solid brown;
    text-align: top;
}

td {
    text-align: left;
    border: 1px solid #999;
    padding: 0.1rem;
}

/* REGISTERS WINDOW */
#register_window { 
    cursor: move;
    
    position: absolute;
    left: 10%;
    top:  65%;

    z-index: 3;
    
    width: 27%;
    height: 10%;

    background: rgba(255,255,255,0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 8px;
}

#register_table {
    position: relative;
    left: 0%;
    top: 0%;

    table-layout: fixed;
    
    width: 100%;
    height: 100%;    

    font-family: "Terminal", monospace;
    font-weight: bold;
    font-size: 10px;    /* fallback */
    font-size: .999vh;  /* auto-resize text */
    font-size: .999vw;  /* auto-resize text */
}

/* CONSOLE WINDOW */
#console_window { 
    cursor: move;
    position: absolute;

    /*
    left: 0%;
    top: 20%;
    */

    z-index: 1;

    width: 40%;
    height: 40%;
    background: rgba(255,255,255,0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 8px;
}

#console {
    background-color: #000000;
    color: #FFFFFF;
    resize: none;
    width: 98%;
    height: 92%;
    
    font-family: "Terminal", monospace;
    font-weight: bold;
    font-size: 14px;    /* fallback */
    font-size: 2vh;     /* auto-resize text */
    font-size: 0.77vw;  /* auto-resize text */

    float: left;
    vertical-align: top;
}

#stdin {
    background: #1F2124;
    background: -moz-linear-gradient(#1F2124, #27292C);
    background: linear-gradient(#1F2124, #27292C);
    border: 1px solid #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Terminal', monospace;
    color: #FFF;

    width: 98.5%;
    height: 6%;
    z-index: 20;

    font-size: 2vh;
}

#stdin:focus {
    border-color: #51CBEE;
    outline: none;
}

/* SERIAL WINDOW */
#serial_window { 
    cursor: move;

    position: absolute;
    left: 0%;
    top: 57%;
    z-index: 2;

    width: 40%;
    height: 40%;

    background: rgba(255,255,200,0.50); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 8px;
}

#serial_out {
    background-color: #000000;
    color: #00FF00;
    resize: none;	     

    font-family: "Terminal", monospace;
    font-weight: bold;
    font-size: 14px;    /* fallback */
    font-size: 2vh;     /* auto-resize text */
    font-size: 0.77vw;  /* auto-resize text */

    float: left;
    vertical-align: top;

    width: 98%;
    height: 92%;
}

#serial_in {
    background: #1F2124;
    background: -moz-linear-gradient(#1F2124, #27292C);
    background: linear-gradient(#1F2124, #27292C);
    border: 1px solid #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    color: #FFF;

    width: 98.777%;
    height: 6%;

    font-family: 'Terminal', monospace;
    font-weight: bold;
    font-size: 14px; /* fallback */
    font-size: 2vh;  /* auto-resize text */
}

#serial_in:focus {
    box-shadow: inset 0 0 2px #000;
    background: linear-gradient(#1F2124, #27292C);
    border-color: #51CBEE;
    outline: none;
}

#file-input {
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,1); 

    vertical-align: bottom;
    float: right;
}

#upload_button {
    vertical-align: bottom;
    float: right;
}

#help_button {
    vertical-align: bottom;
    float: right;
    margin-left: 10px;
}

#myCanvas {
    position: absolute;
    left: 0%;
    /*top: 30%;*/
    z-index: 0;
    
    background-color: #F0F0F0;

    width: 100%;
    height: 100%;
}